<div class="row">
    <form method="GET" action="{{ path('cards_find') }}" id="search-form" role="form">
        <div class="col-sm-4">
            <div class="input-group" style="margin-bottom:.5em">
                <input type="text" class="form-control smart-filter-help" size="30" name="q" tabindex="1" value="{{ q|replace({'treasure': 'campaign'})|default('') }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div><!-- /input-group -->
        </div>
        {% include 'AppBundle:Search:searchoptions.html.twig' %}
        {% if is_authenticated|default(false) %}
        <div class="col-sm-4" style="margin-bottom:.5em">
            <label class="btn btn-default{% if collection|default(0) %} active{% endif %}" style="margin-top:1px">
                <input type="checkbox" name="collection" value="1" autocomplete="off"{% if collection|default(0) %} checked{% endif %}> My Collection Only
            </label>
        </div>
        {% endif %}
    </form>
</div>
