{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
    <div class="container">
<<<<<<< HEAD
        <div class="alert alert-danger" role="alert">The server encountered an error 500. Please report it on <a href="https://github.com/Sydtrack/ringsdb/issues">GitHub</a>.</div>
=======
        <div class="alert alert-danger" role="alert">The server encountered an error 500. Please report it on <a href="https://github.com/seastan/ringsdb/issues">GitHub</a>.</div>
>>>>>>> 56e1ea53496cec76b48025ecd26037a8241df188
    </div>
{% endblock %}
