/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
tags
/web/js/
/web/css/
/.externalToolBuilders/
/.settings/
/.buildpath
/.project
/.tags_swap
/.idea/
/web/suggestions.json
/src/AppBundle/Resources/public/js/fos_js_routes.js
user-data.sql
beorn.json
.DS_Store
