<!-- Modal -->
<div class="modal fade" id="deckSelectionModal" tabindex="-1" role="dialog" aria-labelledby="deckSelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="deckSelectionModalLabel">Select a Deck</h3>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-12 text-center">
                        <div class="btn-group">
                            <label class="btn btn-default active" data-action="my-decks">My Decks</label>
                            <label class="btn btn-default" data-action="other-decks">Another Player's Decks</label>
                        </div>
                    </div>
                </div>
                <div class="row hidden" id="deckSelectionAnotherPlayerBox">
                    <div class="col-md-12">
                        <form onsubmit="app.deck_selection.submit_search_user_decks(event)">
                            <div class="form-group">
                                <label for="deckSelectionById">Type any username or a deck url and click search</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" tabindex="1" id="deckSelectionById">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" type="submit">Search</button>
                                    </span>
                                </div>
                                <p class="help-block">
                                    You can select any published decklist. <!--Unpublished decks will only be selectable if their owner
                                    checked the "Share my decks" option in their profile page. These unpublished decks will be copied
                                    to your own collection after this {% if is_quest is defined %}quest{% else %}fellowship{% endif %} is saved.-->
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-expanded list-decks" style="margin-bottom: 0">
                            <tbody id="deckSelectionList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
