<div class="col-sm-3">
    <div class="selected-deck-placeholder {% if deck is not null %}hidden{% endif %}">
        <span class="no-deck-selected">No deck selected</span>
        <div class="text-center" style="line-height: 1.42857">
            <a class="btn btn-xs btn-default" data-action="swap" data-deck="{{ deck_number }}">
                Select deck
            </a>
        </div>
    </div>
    <div class="small selected-deck-content {% if deck is null %}hidden{% endif %}">
        <div id="deck{{ deck_number }}-content" class="deck-loading">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
        <div class="text-center">
            <a class="btn btn-xs btn-primary" data-action="swap" data-deck="{{ deck_number }}">
                <span class="fa fa-fw fa-exchange"></span> Swap <span class="hidden-sm">sideboard</span> cards
            </a>
        </div>
    </div>
</div>