<div class="col-sm-3">
    <div class="selected-deck-placeholder {% if deck is not null %}hidden{% endif %}">
        <span class="no-deck-selected">No deck selected</span>

        {% if is_public is not defined or not is_public %}
            <div class="text-center" style="line-height: 1.42857">
                <a class="btn btn-xs btn-default" data-action="select-deck" data-deck="{{ deck_number }}">
                    Select deck
                </a>
            </div>
        {% endif %}
    </div>
    <div class="small selected-deck-content {% if deck is null %}hidden{% endif %}">
        <div id="deck{{ deck_number }}-content" class="deck-loading">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
        {% if is_public is not defined or not is_public %}
            <div class="text-center">
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-default hidden" data-action="swap-cards" data-deck="{{ deck_number }}" data-toggle="tooltip" data-container="body" title="Swap sideboard cards">
                        <span class="fa fa-fw fa-exchange"></span> Swap cards
                    </a>
                        <a class="btn btn-default" data-action="remove-deck" data-deck="{{ deck_number }}">
                            Remove deck
                        </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>