<div class="row">
    <div class="col-md-12">
        {% if is_owner %}
            <div class="btn-group hidden" id="user_buttons" role="group" style="margin-bottom: 10px;">
                <a href="{{ path('fellowship_edit', { fellowship_id: fellowship.id }) }}" class="btn btn-sm btn-default">
                    <span class="fa fa-pencil text-primary"></span> Edit
                </a>


                {% if not is_public %}
                    <a href="{{ path('fellowship_publish_form', { fellowship_id: fellowship.id }) }}" class="btn btn-sm btn-default">
                        <span class="fa fa-share text-success"></span> Publish
                    </a>
                {% endif %}

                <button type="button" id="btn-delete" class="btn btn-sm btn-default">
                    <span class="fa fa-trash-o text-danger"></span> Delete
                </button>
            </div>
        {% endif %}

        <div class="btn-group pull-right" role="group" style="margin-bottom: 10px;">
            <button type="button" id="btn-print" class="btn btn-sm btn-default">
                <span class="fa fa-print text-default"></span> <span class="hidden-xs">Print</span>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-download"></span> Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btn-download-text">Text file</a></li>
                    <li><a href="#" id="btn-download-octgn">Octgn file</a></li>
                </ul>
            </div>

            {% set url = "https://www.dragncards.com/newroom/ringsdb" %}
            {% for d in fellowship.decks %}
                {% set url = url ~ "/deck/" ~ d.deck.id %}
            {% endfor %}
            {% for d in fellowship.decklists %}
                {% set url = url ~ "/decklist/" ~ d.decklist.id %}
            {% endfor %}
            <a href="{{url}}" target="_blank" class="btn btn-sm btn-default">
                <span class="fa fa-play-circle"></span> Play on DragnCards
            </a>
{#            <a href="{{ path('questlog_new', { deck1_id: deck1.id, deck2_id: deck2.id, deck3_id: deck3.id, deck4_id: deck4.id }) }}" class="btn btn-sm btn-default">
              <span class="fa fa-book text-warning"></span> Log a Quest
            </a>
#}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-clipboard"></span> Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btn-export-bbcode">bbCode</a></li>
                    <li><a href="#" id="btn-export-markdown">Markdown (Reddit)</a></li>
                    <li><a href="#" id="btn-export-plaintext">plain text</a></li>
                    <li><a href="#" id="btn-export-html">HTML (WordPress)</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-sort"></span> Sort <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="menu-sort">
                    <li><a href="#" id="btn-sort-type">by Type</a></li>
                    <li><a href="#" id="btn-sort-position">by Pack</a></li>
                    <li><a href="#" id="btn-sort-sphere">by Sphere</a></li>
                    <li><a href="#" id="btn-sort-name">by Name</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
