@font-face {
  font-family: 'ringsdb';
  src: url('../fonts/ringsdb.eot?h6hjpma');
  src: url('../fonts/ringsdb.eot?h6hjpma#iefix') format('embedded-opentype'),
  url('../fonts/ringsdb.ttf?h6hjpma') format('truetype'),
  url('../fonts/ringsdb.woff?h6hjpma') format('woff'),
  url('../fonts/ringsdb.svg?h6hjpma#ringsdb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ringsdb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin icon($name, $contentA, $contentB) {
  .icon-#{$name} {
    position: relative;

    &:before {
      content: $contentA;
      opacity: 0;
    }

    &:after {
      content: $contentB;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
    }
  }
}

@include icon(hero, "\e622", "\e61b");
@include icon(ally, "\e623", "\e61c");
@include icon(attachment, "\e624", "\e61d");
@include icon(event, "\e625", "\e61e");
@include icon(player-side-quest, "\e626", "\e61f");
@include icon(contract, "\e621", "\e628");
@include icon(treasure, "\e627", "\e620");

.icon-spirit:before {
  content: "\e608";
}

.icon-leadership:before {
  content: "\e609";
}

.icon-tactics:before {
  content: "\e60a";
}

.icon-lore:before {
  content: "\e60b";
}

.icon-baggins:before {
  content: "\e60c";
}

.icon-fellowship:before {
  content: "\e60d";
}

.icon-neutral:before {
  content: "\e60e";
}

.icon-threat:before {
  content: "\e604";
}

.icon-cost:before {
  content: "\e606";
}

.icon-willpower:before {
  content: "\e600";
}

.icon-attack:before {
  content: "\e601";
}

.icon-defense:before {
  content: "\e602";
}

.icon-health:before {
  content: "\e603";
}

.icon-unique:before {
  content: "\e607";
}

.panel-title .icon-unique {
  line-height: 1px;
}

.icon-rule:before {
  content: "\e614\e615\e616\e617";
}

.icon-onering:before {
  content: "\e618";
}

.icon-logo:before {
  content: "\e619";
}

.navbar-brand:hover .icon-logo:before {
  content: "\e61a";
}

.icon-fw:before {
  width: 22px;
  text-align: center;
  display: inline-block;
}