#wrapper {
  min-height: 100%;
  border-bottom: 5px solid #550000;
  padding-bottom: 80px;
}

.navbar-default {
  font-size: 16px;
}

p:last-child {
  margin-bottom: 0;
}

/********* CARDS ************/

.card-content {
  font: 16px/20px 'Amiri', serif;

  abbr[title] {
    border-bottom: none;
  }
}

.card-name {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
}

.card-preview {
  color: red;
}

.card-type {
  font-weight: 700;
}

.card-traits, .card-text i {
  font-weight: 700;
  font-style: italic;
}

.card-text {
  border-left: 1px solid #888888;
}

.text-faded {
  color: #BBBBBB;
}

.card-text p {
  margin: 6px;
}

.card-flavor {
  font-style: italic;

  cite {
    white-space: nowrap;

    &::before {
      /* en dash followed by non-breaking zero-width space */
      content: "\2013\FEFF";
    }
  }
}

.card-full-image {
  width: 360px;
}

.table-expanded > thead > tr > th,
.table-expanded > tbody > tr > th,
.table-expanded > tfoot > tr > th,
.table-expanded > thead > tr > td,
.table-expanded > tbody > tr > td,
.table-expanded > tfoot > tr > td {
  padding: 16px 8px;
}

.navbar-static-top {
  z-index: auto;
}

.display-spoiler-card {
  margin-bottom: 1em;
  h4 {
    border-bottom: 1px solid #DDDDDD;
  }
}

.deck-loading {
  padding: 50px 0;
  text-align: center;
}

.tab-content {
  padding-top: 15px;
}

.dropdown-menu {
  label {
    margin: 0;
  }

  input[type=checkbox], input[type=radio] {
    margin: -4px 8px 0 -6px;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
  background-color: #F5F5F5;
}

th, td {
  &.type, &.sphere, &.cost, &.willpower, &.attack, &.defense, &.health {
    text-align: center;
  }
}

.container.main {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  &.white {
    background-color: #fff;
  }

  &.admin {
    background-color: #fff;
    border: 1px solid red;
  }
}

div.tags span.tag {
  font-size: 75%;
  color: darkgray;

  &:not(:first-child)::before {
    content: " - ";
  }
}

.decks-actions {
  width: 80px;

  .btn {
    margin-bottom: 3px;
    white-space: nowrap;
  }
}

.social-icons > * {
  margin-left: 5px
}

.social-icon-like {
  color: red
}

.social-icon-favorite {
  color: orange
}

.social-icon-comment {
  color: green
}

.social-icon-version {
  color: blue
}

/*** generic ****/

.smaller {
  font-size: 70%;
}

/********** icon-bg ***********/

.icon-bg:before {
  width: 100%;
  height: 100%;
  font-size: 8em;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 2em;
  left: 0;
  opacity: 0.1;
  z-index: 0;
}

/********* ONE DECK *********/

.media-left {
  min-width: 50px;
  text-align: center;
}

.deck-intro .media-left {
  font-size: 96px;
}

.deck-intro .media-left span {
  padding: 10px;
}

.deck-content {
  margin-bottom: 15px;

  .invalid-card {
    text-decoration: line-through;
  }

  h5 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  h4 {
    a {
      height: 38px;
      display: block;
      overflow: hidden;
      font-weight: normal;
      font-style: italic;
    }
  }
}


/********** DECK EDITOR ************/

#collection-grid .col-sm-6 .media, #collection-grid .col-sm-4 .media {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted lightgray;
  overflow: hidden;
}

#collection-grid .col-sm-6 .media-object {
  height: 100px;
}

#collection-grid .col-sm-4 .media-object {
  height: 70px;
}

/********* LIST OF DECKS ************/

.list-decks > tbody > tr > td {
  vertical-align: middle;
}

.list-decks img {
  height: 63px;
  width: 45px;
  border-radius: 4px;
}

#tag_toggles button {
  margin-bottom: 4px;
  margin-right: 4px;
}


/************ DECK GALLERY **********/

#deck-gallery table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;

  td {
    padding: 0;

    > div {
      height: 100px;
      overflow: visible;
      position: relative;

      > img {
        height: 100%;
        border: 1px solid white;
        border-radius: 10px;
      }

      > div {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 1px;
        bottom: 1px;
        color: white;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 15px;
        font-family: monospace;
      }
    }
  }
}

/********* DRAW SIMULATOR ************/

#table-draw-simulator-content {
  img {
    width: 98px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    border-radius: 5px;

    &.trashed {
      opacity: 0.25;
      box-shadow: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  div.card-proxy {
    background: #888888;
    color: white;
    width: 99px;
    height: 138px;
    float: left;
    margin: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;

    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center
    }
  }

  img.card-proxy.trashed {
    opacity: 0.25;
    box-shadow: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

#draw-simulator-special {
  display: none;
}

/********* PLAY SIMULATOR ************/

#table-play-simulator-inhand-content {
  img {
    width: 98px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    border-radius: 5px;

    &.trashed {
      opacity: 0.25;
      box-shadow: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  div.card-proxy {
    background: #888888;
    color: white;
    width: 99px;
    height: 138px;
    float: left;
    margin: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;

    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center
    }
  }

  img.card-proxy.trashed {
    opacity: 0.25;
    box-shadow: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

#table-play-simulator-inplay-content {
  img {
    width: 98px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    border-radius: 5px;

    &.trashed {
      opacity: 0.25;
      box-shadow: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  div.card-proxy {
    background: #888888;
    color: white;
    width: 99px;
    height: 138px;
    float: left;
    margin: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;

    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center
    }
  }

  img.card-proxy.trashed {
    opacity: 0.25;
    box-shadow: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

#table-play-simulator-indisc-content {
  img {
    width: 98px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    border-radius: 5px;

    &.trashed {
      opacity: 0.25;
      box-shadow: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  div.card-proxy {
    background: #888888;
    color: white;
    width: 99px;
    height: 138px;
    float: left;
    margin: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;

    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center
    }
  }

  img.card-proxy.trashed {
    opacity: 0.25;
    box-shadow: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

#table-play-simulator-indeck-content {
  img {
    width: 98px;
    margin: 5px;
    box-shadow: black 0px 0px 5px;
    border-radius: 5px;

    &.trashed {
      opacity: 0.25;
      box-shadow: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  div.card-proxy {
    background: #888888;
    color: white;
    width: 99px;
    height: 138px;
    float: left;
    margin: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px;

    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center
    }
  }

  img.card-proxy.trashed {
    opacity: 0.25;
    box-shadow: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

#play-simulator-special {
  display: none;
}

/*********** TYPEAHEAD **************/

.twitter-typeahead {
  width: 100%;
  background-color: #FFFFFF;

  .tt-hint {
    color: #AAAAAA;
    margin-left: 11px;
    margin-top: 4px;
    display: none;
  }

  .tt-query {
    margin-bottom: 0
  }
}

.tt-menu, .tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  color: #FFFFFF;
  background-color: #0081C2;
  background-image: -moz-linear-gradient(top, #0088CC, #0077B3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0077B3));
  background-image: -webkit-linear-gradient(top, #0088CC, #0077B3);
  background-image: -o-linear-gradient(top, #0088CC, #0077B3);
  background-image: linear-gradient(to bottom, #0088CC, #0077B3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: #FFFFFF
}

.tt-suggestion p {
  margin: 0
}

/************** QTIP ****************/
.qtip-game {
  border-radius: 2px
}

.qtip-game-text {
  min-width: 360px;
  max-width: 360px;
  font-size: 15px;
}

.qtip-game-image {
  max-width: 500px;
}

/***************** THUMBNAIL CARD IMAGE **************/

.starting-threat {
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 5px;
}

.hero-card-list {
  margin-bottom: 10px;
}

.hero-deck-list {
  .deck-hero {
    text-align: center;
    float: left;
    margin-right: 15px;
    max-width: 100px;

    .hero-thumbnail {
      margin: 5px auto 0 auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.small .deck-hero {
  max-width: 65px;

  .icon {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .small .deck-hero {
    text-align: left;
    display: block;
    float: none;
    margin-right: 0;
    max-width: none;

    .hero-thumbnail {
      display: none;
    }

    .icon {
      display: inline-block;
    }
  }
}

@media print {
  .deck-hero {
    text-align: left !important;
    display: block !important;
    float: none !important;
    margin-right: 0 !important;
    max-width: none !important;

    .hero-thumbnail {
      display: none !important;
    }

    .icon {
      display: inline-block !important;
    }
  }
}


.index-decklist-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;

    .bg-deck {
      flex: auto;
    }
  }
}

@media (max-width: 991px) {
  .index-decklist-row {
    display: block;
  }
}


.index-hero {
  vertical-align: top;
  max-width: 120px;

  text-align: center;
  display: inline-block;

  .hero-thumbnail {
    margin: 10px 10px 0 10px;
  }
}

.decklist-hero-image {
  width: 175px;
}

.decklist-hero-text {
  a {
    padding-left: 10px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .decklist-hero-text {
    display: block;
    margin-top: 15px;
    margin-left: -10px;
  }
}


.decklist-hero {
  text-align: center;
  display: inline-block;

  border-bottom: 7px solid black;
}

.hero-thumbnail {
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #000000;
}

.card-thumbnail {
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-repeat: no-repeat;
  margin: 0 0 5px 5px;
  position: relative;
  border: 1px solid #000000;
  float: right;
}

.card-thumbnail-player-side-quest {
  margin-top: 5px;
}

.card-thumbnail-1x {
  width: 200px;
  height: 200px;
  background-size: 300px 418px;
}

.card-thumbnail-2x {
  width: 100px;
  height: 100px;
  background-size: 150px 209px;
}

.card-thumbnail-3x {
  width: 67px;
  height: 67px;
  background-size: 100px 139px;
}

.card-thumbnail-4x {
  width: 50px;
  height: 50px;
  background-size: 75px 105px;
}

.card-thumbnail-5x {
  width: 40px;
  height: 40px;
  background-size: 60px 84px;
}

.card-thumbnail-1x.card-thumbnail-hero {
  background-position: -90px -3px;
}

.card-thumbnail-2x.card-thumbnail-hero {
  background-position: -46px -3px;
}

.card-thumbnail-3x.card-thumbnail-hero {
  background-position: -30px -3px;
}

.card-thumbnail-4x.card-thumbnail-hero {
  background-position: -22px -3px;
}

.card-thumbnail-5x.card-thumbnail-hero {
  background-position: -17px -3px;
}

.card-thumbnail-1x.card-thumbnail-ally {
  background-position: -90px -3px;
}

.card-thumbnail-2x.card-thumbnail-ally {
  background-position: -46px -3px;
}

.card-thumbnail-3x.card-thumbnail-ally {
  background-position: -30px -3px;
}

.card-thumbnail-4x.card-thumbnail-ally {
  background-position: -22px -3px;
}

.card-thumbnail-5x.card-thumbnail-ally {
  background-position: -16px -3px;
}

.card-thumbnail-1x.card-thumbnail-attachment {
  background-position: -55px -44px;
}

.card-thumbnail-2x.card-thumbnail-attachment {
  background-position: -30px -22px;
}

.card-thumbnail-3x.card-thumbnail-attachment {
  background-position: -18px -15px;
}

.card-thumbnail-4x.card-thumbnail-attachment {
  background-position: -15px -13px;
}

.card-thumbnail-5x.card-thumbnail-attachment {
  background-position: -13px -12px;
}

.card-thumbnail-1x.card-thumbnail-event {
  background-position: -55px -3px;
}

.card-thumbnail-2x.card-thumbnail-event {
  background-position: -30px -3px;
}

.card-thumbnail-3x.card-thumbnail-event {
  background-position: -20px -3px;
}

.card-thumbnail-4x.card-thumbnail-event {
  background-position: -17px -3px;
}

.card-thumbnail-5x.card-thumbnail-event {
  background-position: -14px -3px;
}

.card-thumbnail-1x.card-thumbnail-player-side-quest {
  width: 400px;
  height: 100px;
  background-size: 418px 300px;
  background-position: -9px -53px
}

.card-thumbnail-2x.card-thumbnail-player-side-quest {
  width: 200px;
  height: 50px;
  background-size: 209px 150px;
  background-position: -7px -28px;
}

.card-thumbnail-3x.card-thumbnail-player-side-quest {
  width: 133px;
  height: 33px;
  background-size: 139px 100px;
  background-position: -3px -15px
}

.card-thumbnail-4x.card-thumbnail-player-side-quest {
  width: 100px;
  height: 25px;
  background-size: 105px 75px;
  background-position: -5px -13px;
}

.card-thumbnail-5x.card-thumbnail-player-side-quest {
  width: 80px;
  height: 20px;
  background-size: 84px 60px;
  background-position: -5px -10px
}

.card-thumbnail-1x.card-thumbnail-contract {
  background-position: -55px -44px;
}

.card-thumbnail-2x.card-thumbnail-contract {
  background-position: -30px -22px;
}

.card-thumbnail-3x.card-thumbnail-contract {
  background-position: -18px -15px;
}

.card-thumbnail-4x.card-thumbnail-contract {
  background-position: -15px -13px;
}

.card-thumbnail-5x.card-thumbnail-contract {
  background-position: -13px -12px;
}

.card-thumbnail-1x.card-thumbnail-treasure {
  background-position: -55px -44px;
}

.card-thumbnail-2x.card-thumbnail-treasure {
  background-position: -30px -22px;
}

.card-thumbnail-3x.card-thumbnail-treasure {
  background-position: -18px -15px;
}

.card-thumbnail-4x.card-thumbnail-treasure {
  background-position: -15px -13px;
}

.card-thumbnail-5x.card-thumbnail-treasure {
  background-position: -13px -12px;
}


/************** INDEX PAGE ***************/

h1.site-title {
  font-family: 'Julius Sans One', sans-serif;
  position: relative;
  font-size: 116px;
  text-align: center;
  margin-top: 0;
}

@media (max-width: 767px) {
  h1.site-title {
    font-size: 50px;
  }
}

div.site-rule {
  font-size: 18px;
  margin-top: -28px;
  text-align: center;
}

div.site-slogan {
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  font-size: 40px;
  text-align: center;
}

div.site-news {
  position: relative;
  text-align: center;
  padding-top: 50px;
}



/************* DECKLIST *********************/

.row.title {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #ECECEC;
  position: relative;
}

#deck-description h1, #fellowship-description h1 {
  font-size: 171%;
}

#deck-description h2, #fellowship-description h2 {
  font-size: 143%;
}

#deck-description h3, #fellowship-description h3 {
  font-size: 121%;
}

#deck-description h4, #fellowship-description h4 {
  font-size: 107%;
}


@mixin ribbon($color, $ribbon-thickness, $notch-color, $notch-side) {
  background: linear-gradient(darken($color, 5%) 0%, darken($color, 25%) 100%);
  float: left;
  position: relative;
  padding-#{$notch-side}: $ribbon-thickness;
  @if $notch-side == left {
    height: $ribbon-thickness;
    line-height: $ribbon-thickness;
    right: -2px;
    padding-right: 10px;
    text-align: right;
  } @else if $notch-side == right {
    height: $ribbon-thickness;
    line-height: $ribbon-thickness;
    left: -2px;
    padding-left: 10px;
  } @else if $notch-side == bottom {
    text-align: center;
    width: $ribbon-thickness;
    margin-top: -2px;
    padding-top: 10px;
  } @else {
    text-align: center;
    width: $ribbon-thickness;
    bottom: -2px;
    padding-bottom: 10px;
  }

  &:before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border: $ribbon-thickness/2 solid transparent;
    border-#{$notch-side}-color: $notch-color;
    position: absolute;
    #{$notch-side}: -1px;
  }
}

// and then the ribbons...

.ribbon {
  position: absolute;
  top: -20px;
  left: 5px;

  .icon {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  }
}

.ribbon-tactics {
  @include ribbon(#C00106, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    font-size: 35px;
    display: block;
    margin-top: 10px;
    line-height: 30px;
  }
}


.ribbon-spirit {
  @include ribbon(#00B1D4, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    font-size: 30px;
    display: block;
    margin-top: 10px;
    line-height: 30px;
  }
}


.ribbon-lore {
  @include ribbon(#51B848, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    font-size: 26px;
    display: block;
    margin-top: 10px;
    line-height: 30px;
  }
}

.ribbon-leadership {
  @include ribbon(#AD62A5, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    font-size: 28px;
    display: block;
    margin-top: 10px;
    line-height: 30px;
  }
}

.ribbon-neutral {
  @include ribbon(#777777, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    font-size: 28px;
    display: block;
    margin-top: 10px;
    line-height: 30px;
  }
}

.ribbon-baggins {
  @include ribbon(#B39E26, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    line-height: 40px;
    font-size: 28px;
  }
}

.ribbon-fellowship {
  @include ribbon(#B56C0C, 42px, #ECECEC, bottom);
  box-shadow: -1px 0 1px rgba(0,0,0,0.35);
  margin-left: 5px;
  color: #FFF;
  span {
    line-height: 40px;
    font-size: 28px;
  }
}


.title .decklist-name {
  font-family: 'Julius Sans One', sans-serif;
  padding-left: 150px;
  padding-right: 150px;
}

@media (max-width: 767px) {
  .title .decklist-name {
    font-size: 1.8em;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.bg-deck {
  background-color: white;
  padding: 10px 20px 20px 20px;
  border: 1px solid white;
}


/************** SPHERE COLORS **************/
.bg-sphere a, .bg-sphere span, .bg-sphere small, .bg-sphere button {
  color: inherit;
  background-color: transparent !important;
}

.bg-sphere-index {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

@mixin bg-color($name, $backgroundColor, $color:inherit) {
  .bg-#{$name} {
    background: $backgroundColor;
    color: $color;
  }

  .border-#{$name} {
    border-color: $backgroundColor;
  }

  .border-light-#{$name} {
    border-color: rgba($backgroundColor, .3);
  }
}

@include bg-color(leadership, #884380, #FFFFFF);
@include bg-color(tactics, #c00106, #FFFFFF);
@include bg-color(spirit, #3380AD, #FFFFFF);
@include bg-color(lore, #357308, #FFFFFF);
@include bg-color(baggins, #E3D852);
@include bg-color(fellowship, #E89521);
@include bg-color(neutral, #616161);


@mixin fg-color($name, $color) {
  .fg-#{$name}, .icon-#{$name}.icon-bg:before {
    color: $color;
  }

  .fg-#{$name} {
    &.icon-hero, &.icon-ally, &.icon-attachment, &.icon-event, &.icon-player-side-quest, &.icon-contract, &.icon-treasure {
      &:before {
        opacity: .1;
      }
    }
  }
}

@include fg-color(leadership, #AD62A5);
@include fg-color(tactics, #c00106);
@include fg-color(spirit, #00B1D4);
@include fg-color(lore, #51B848);
@include fg-color(baggins, #B39E26);
@include fg-color(fellowship, #B56C0C);
@include fg-color(neutral, #616161);

.sphere-selector {
  padding-top: 10px;

  span.icon {
    font-size: 18px;

    &:before {
      vertical-align: middle;
    }
  }
}

.rwd-table .icon:before {
  width: 20px;
  font-size: larger;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

/**************** REVIEW ON CARD PAGE ******************/

article.review {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #DDDDDD;
}

article.review:first-child {
  margin-top: 0;
}

article.review .review-like {
  float: left;
  font-size: 120%;
  width: 50px
}

article.review .review-content {
  margin-left: 50px
}

article.review .review-text {
  text-align: justify;
}

article.review .review-text :first-child {
  margin-top: 0;
}

article.review .review-date {
  clear: both;
  text-align: right;
}

article.review .review-author {
  text-align: right;
  margin-bottom: 5px;
}

article.review .review-comment {
  margin-top: 2px;
  border-top: 1px solid #DDDDDD;
  padding: 0.5em;
}

/****************** BOOTSTRAP MARKDOWN *******************/

.md-editor.md-fullscreen-mode {
  z-index: 99;
}

.md-preview, .md-input {
  padding: 5px !important;
}

/* PRINT STYLESHEETS */

@media print {
  h1 {
    font-size: 24px;
  }

  a[href]:after {
    content: none !important;
  }

  #wrapper {
    border: none;
    padding: 0;
    min-height: unset;
  }

  .col-print-1 {
    width: 8%;
    float: left;
  }
  .col-print-2 {
    width: 16%;
    float: left;
  }
  .col-print-3 {
    width: 25%;
    float: left;
  }
  .col-print-4 {
    width: 33%;
    float: left;
  }
  .col-print-5 {
    width: 42%;
    float: left;
  }
  .col-print-6 {
    width: 50%;
    float: left;
  }
  .col-print-7 {
    width: 58%;
    float: left;
  }
  .col-print-8 {
    width: 66%;
    float: left;
  }
  .col-print-9 {
    width: 75%;
    float: left;
  }
  .col-print-10 {
    width: 83%;
    float: left;
  }
  .col-print-11 {
    width: 92%;
    float: left;
  }
  .col-print-12 {
    width: 100%;
    float: left;
  }
}

/*************** DECK(LIST) COMPARE *****************/

.diff {
  background: rgba(255, 0, 0, .1);
}

.paypal {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  margin-top: -3px !important;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #003300;
  color: #9A9A9A;

  button.paypal {
    color: #f3b217 !important;
  }
}

footer div.site-rule {
  font-size: 30px;
  margin-top: 0;
}

footer a {
  color: #F3B217;
}

@media (max-width: 991px) {
  .selected-heroes {
    display: block !important;
  }

  .selected-hero-placeholder {
  }
}

.heroes-list-row {
  margin-top: 20px;
}

.heroes-list {
  font-size: 16px;

  .icon:before {
    width: 30px;
    font-size: larger;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  }
}

#initHero img[src=""] {
  visibility: hidden;
}

.tooltip-inner, .popover-content {
  ul {
    margin-top: 3px;
    padding-left: 0;

    li {
      list-style: none;
      text-align: left;
    }
  }

  p {
    text-align: left;
    margin: 0 5px 5px 5px;
  }
}

@media (max-width: 767px) {
  .modal-image {
    text-align: center;

    .img-responsive {
      display: inline-block;
      max-height: 280px;
      margin-bottom: 20px;
    }
  }
}

#tab-pane-build {
  .dropdown-menu a {
    padding: 0;

    label {
      padding: 3px 20px;
      display: block;
    }
  }
}

.btn-inner-group {
  display: flex !important;
  flex-direction: row !important;

  :first-child {
    flex: 1
  }

  label {
    width: 15% !important;
  }
}

#owned_packs {
  .btn.active {
    color: #FFFFFF !important;
    background-color: #20638F !important;
    border-color: #194F72 !important;
  }
}

#set-selection-menu {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

@media (max-width: 767px) {
  #set-selection-menu {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    margin-right: -90px;
    font-size: 85%;
  }

  #config-options {
    margin-right: -55px;
    font-size: 85%;
  }
}

[data-unique="true"] {
  font-weight: bold;
}

.not-in-collection {
  font-weight: normal;
  color: #999999;
}

.unique-card-conflict {
  color: #DD0000;
}

.limited-pool-conflict {
  font-weight: bold;
  color: #FF9229;
}

.conflicted-hero {
  .hero-thumbnail {
    border: 1px solid #DD0000;
    opacity: 0.2;
  }

  a {
    text-decoration: line-through;
  }
}

#table-suggestions .card-container {
  td:nth-child(1) {
    width: 25px;
  }

  td:nth-child(2) {
    width: 95px;
  }

  td:nth-child(3) {
    width: 45px;
    text-align: right;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  #collection.compact {
    td {
      padding: 0 !important;

      .btn-xs {
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 767px) {
  #collection {
    table {
      border-collapse: separate;
    }

    td:nth-child(1) {
      width: 80px;

      .btn {
        width: 37px;
        margin-left: 0;
        line-height: 24px;
      }

      .btn:nth-child(2), .btn:nth-child(4) {
        margin-left: -1px;
      }

      .btn:nth-child(3), .btn:nth-child(4) {
        margin-top: -1px;
      }
    }

    td:nth-child(2) {
      padding-top: 9px;
      display: block;
    }

    tr:first-child td {
      border-top: 0;
    }

    td {
      &.sphere, &.type, &.cost, &.willpower, &.attack, &.defense, &.health {
        display: inline-block;
        float: left;
        border-top: 0;
      }

      &.sphere, &.type {
        width: 30px;
      }

      &.cost, &.willpower, &.attack, &.defense, &.health {
        white-space: nowrap;
      }
    }
  }

  #collection.compact {
    td:nth-child(1) {
      padding: 0;
    }

    td:nth-child(2) {
      padding-top: 3px !important;
    }
  }
}


.modal-qty-container, .modal-side-qty-container, .modal-move-card-container {
  display: inline-block;

  label {
    display: block;
    margin-bottom: 0;
    text-align: left;
  }
}

.modal-side-qty-container, .modal-move-card-container {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .modal-side-qty-container {
    margin-left: 15px;
  }
}

#sideboard-content {
  h4 {
    margin-bottom: 0;
  }
}

.selected-deck-placeholder {
  border: 1px dashed #c5c5c5;

  min-height: 201px;
  line-height: 201px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;

  span.no-deck-selected {
    color: #c5c5c5;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 32px;
    word-spacing: 1500000px;
    font-family: 'Julius Sans One', sans-serif;
  }
}

.encounter-sets {
  margin-top: 5px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#scenario-stats {
  margin-bottom: 10px;
}

span.img {
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 2px;
  margin-bottom: 2px;
  vertical-align: middle;
  display: inline-block;
}

h1 span.img {
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  margin-right: -5px;
}

.nightmare {
  span.img {
    border-style: solid;
    border-color: rgba(200, 0, 0, .2);
    border-width: 13px;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.quest-title {
    color: #660000;
  }
}

.easy {
  span.img {
    border-style: solid;
    border-color: rgba(200, 200, 0, .2);
    border-width: 13px;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.quest-title {
    color: #CC991E;
  }
}

h1.nightmare, h1.easy {
  span.img {
    border-width: 18px;
    border-radius: 18px;
  }
}

.quest-header {
  margin-bottom: 15px;
}

.quest-title {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;

  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.quest-mode {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 18px;
  font-family: 'Julius Sans One', sans-serif;
}

.quest-result {
  margin-bottom: 10px;
  margin-top: 10px;
}

.selected-deck-buttons {
  margin-top: -5px;
  margin-bottom: 20px;
}

.selected-deck-content {
  padding: 0 10px 10px 10px;
  border: 1px dashed transparent;
  margin-bottom: 20px;

  .deck-loading {
    min-height: 211px;
  }

  &.view {
    margin-bottom: 0;
  }
}

.deck-publishing-selection {
  margin-bottom: 20px;

  .selected-deck-content {
    margin-bottom: 0;
  }

  td {
    border: 0 !important;
    padding-bottom: 0 !important;
  }
}


@media (max-width: 1199px) {
  .selected-deck-placeholder {
    min-height: 205px;
    line-height: 171px;
  }

  .selected-deck-content {
    .deck-loading {
      min-height: 171px;
    }
  }
}

/********* LIST OF FELLOWSHIPS ************/


.list-fellowships {
  .fellowship-checkbox {
    width: 35px;
    line-height: 20px;
    padding-top: 13px;

    input {
      vertical-align: middle;
      margin: 0;
    }
  }

  .fellowship-name {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .fellowships-actions {
    margin: 4px 0;
    text-align: right;

    .deck-count {
      margin-right: 20px;
    }

    .social {
      margin: 10px 20px 0 0;
    }
  }
}


@media (max-width: 767px) {
  .list-fellowships {
    .fellowship-name {
      margin-bottom: 10px;
    }

    .fellowships-actions {
      margin-bottom: 15px;
    }
  }
}

.fellowship-heroes {
  float:left;
  white-space: nowrap;
  font-size: 0;
  margin-right: 10px;

  .decklist-hero {
    margin-right: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.fellowship-deck-info {
  h4 {
    margin-top: 5px;
    margin-bottom: 4px;
  }
}


.fellowship-hero-text {
  a {
    padding-right: 10px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .fellowship-hero-text {
    clear: both;
    display: block;
    margin-top: 15px;
  }
}


.fellowships-table-buttons {
  float: right;
  margin-top: 25px;
}

.card-count {
  width: 18px;
  display: inline-block;
}

#table-fellowships {
  td:last-child {
    width: 200px;
    text-align: right;
    white-space: nowrap;
  }

  td:first-child {
    text-align: left;
  }
}

#table-questlogs {
  td:last-child {
    width: 200px;
    text-align: right;
    white-space: nowrap;
  }

  td:first-child {
    text-align: left;
  }
}

#table-predecessor, #table-inspired {
  td {
    text-align: right;
  }

  td:first-child {
    text-align: left;
  }
}



/********* LIST OF QUESTLOGS ************/

#scenario-list {
  list-style: none;
  padding-left: 0;

  li {
    display: none;
  }

  .not-played {
    opacity: 0.25;
  }

  &.easy .scenario-easy, &.normal .scenario-normal, &.nightmare .scenario-nightmare {
    display: block;
  }
}

.list-questlogs {
  .questlog-checkbox {
    width: 35px;
    line-height: 20px;
    padding-top: 13px;

    input {
      vertical-align: middle;
      margin: 0;
    }
  }

  .questlog-name {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .questlog-result {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .questlogs-actions {
    margin: 4px 0;
    text-align: right;

    .block {
      height: 10px;
    }

    .social {
      margin-left: 20px;
    }
  }
}

@media (max-width: 767px) {
  .list-questlogs {
    .questlog-name {
      margin-bottom: px;
    }

    .questlogs-actions {
      margin-bottom: 15px;
    }
  }
}

.questlog-heroes {
  float:left;
  white-space: nowrap;
  font-size: 0;
  margin-right: 10px;

  .decklist-hero {
    margin-right: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.questlog-deck-info {
  h4 {
    margin-top: 0;
    margin-bottom: 4px;
    a {
      font-size: 85%;
    }
  }
}

.questlog-hero-text {
  a {
    padding-right: 10px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .questlog-hero-text {
    clear: both;
    display: block;
    margin-top: 15px;
  }
}

#table-questlogs {
  td:last-child {
    width: 200px;
    text-align: right;
    white-space: nowrap;
  }

  td:first-child {
    text-align: left;
  }
}


/********* PLAY SIMULATOR ************/

#container-simu {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
}

#overlay-simu {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0px;
}

#span-patreon-simu {
  padding-bottom: 8px;
}

#base-simu {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: transparent;
}

.base-simu-unsupported {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#table-play-simulator {
  background-color: transparent;
}
.list-group {
  border: 1px inset #eee;
  height: 325px;
  overflow-y: auto;
  border-radius: 8px;
}

.list-group-hidden {
  display: none;
}

.list-group-item {
  padding: 1px 1px 1px 1px;
}

.indent-attachment {
  padding-left: 40px;
}

.tab-card-leadership {
  background-color: #f1bfff;
}
.tab-card-lore {
  background-color: #e0ffd6;
}
.tab-card-spirit {
  background-color: #d6eeff;
}
.tab-card-tactics {
  background-color: #ffd6d6;
}
.tab-card-baggins {
  background-color: #fffed9;
}
.tab-card-fellowship {
  background-color: #fff4d9;
}
.tab-card-neutral {
  background-color: #f0f0f0;
}

.container-value {
  position: relative;
  height: 40px;
  width: 30px;
}

.container-resources {
  color: rgb(0, 0, 195);
}

.container-damage {
  color: rgb(185, 0, 0);
}

.btn-lab {
  position: absolute;
  height: 15px;
  width: 30px;
  background-color: Transparent;
  text-align: center;
  font-size: 10px;
  color: inherit;
}

.btn-lab-up {
  top: 1px;
}

.btn-lab-dn {
  top: 30px;
}

.btn-value {
  position: absolute;
  height: 20px;
  width: 30px;
  background-color: Transparent;
  cursor: pointer;
}

.btn-value-up {
  top: 0%;
}

.btn-value-dn {
  top: 50%;
}

.btn-header-value-up {
  top: 0%;
}

.btn-header-value-dn {
  top: 50%;
}

.btn-value:hover {
  opacity: 0.2;
  background-color: black;
}

.lab-value {
  color: inherit;
  text-align: center;
  padding-top: 10px;
  padding-right: 0px;
}

.tab-card-border {
  border: 1px solid transparent;
  border-radius: 8px;
}


.tab-card-border-exhausted {
  border: 2px dashed;
}

.btn-simu {
  background-color: transparent;
  border: 1px solid grey;
  width: 80px;
  border-radius: 5px;
  font-size: 12px;
  height: 20px;
}

.btn-simu-header {
  width: 100px;
}

.btn-show {
  width: 30px;
  border: 0px transparent;
}

.btn-hide {
  width: 30px;
  border: 0px transparent;
}

.btn-simu:hover {
  background-color: #dddddd;
}

.sel-simu {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.card-title {
  color: black;
  padding-left: 15px;

}


.list-group-item-facedown {
  padding-left: 1px;
}

.tab-card-border-facedown {
  background-color: rgb(196, 196, 196);
}

.card-tip-facedown {
  display: none;
}

.fa-drag-handle:before {
  content: "\f142 \f142";
  letter-spacing: 2px;
  padding: 6px;
}