{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <div class="jumbotron" id="no-fellowship-available">
        <div class="container">
            <h1>What, no quest logs?</h1>
            <p>
                Quest Logs are a way to track your history in Lord of the Rings LCG.
                You can <span class="fake-inline-button text-primary"><span class="fa fa-pencil"></span> Edit</span> them until you're satisfied,
                then <span class="fake-inline-button text-primary"><span class="fa fa-share"></span> Publish</span> them for others to discuss.
            </p>
            <p>
                You can <span class="fake-inline-button text-primary"><span class="fa fa-plus"></span> Create</span> a quest log with one to four decks.
                If you made any changes to your deck during your quest attempt and only for that attempt, you can apply them directly into the quest log edit mode.
            </p>
        </div>
    </div>
    <div style="text-align:center">
        <a href="{{ path('questlog_new') }}" class="btn btn-default btn-lg"><span class="fa fa-plus"></span> Log a Quest</a>
    </div>

{% endblock %}
