<div class="row">
    <div class="col-md-12">
        {% if is_owner %}
            <div class="btn-group" role="group" style="margin-bottom: 10px;">
                <a href="{{ path('fellowship_edit', { fellowship_id: fellowship.id }) }}" class="btn btn-sm btn-default">
                    <span class="fa fa-pencil text-primary"></span> Edit
                </a>

                {#<a href="#" id="btn-log-quest" class="btn btn-sm btn-default">#}
                    {#<span class="fa fa-book text-warning"></span> Log a Quest#}
                {#</a>#}

                {#<a href="{{ path('fellowship_publish', { fellowship_id: fellowship.id }) }}" class="btn btn-sm btn-default" id="btn-publish">#}
                    {#<span class="fa fa-share text-success"></span> Publish#}
                {#</a>#}

                <button type="button" id="btn-delete" class="btn btn-sm btn-default">
                    <span class="fa fa-trash-o text-danger"></span> Delete
                </button>
            </div>
        {% endif %}

        <div class="btn-group pull-right" role="group" style="margin-bottom: 10px;">
            <button type="button" id="btn-print" class="btn btn-sm btn-default">
                <span class="fa fa-print text-default"></span> <span class="hidden-xs">Print</span>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-download"></span> Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btn-download-text">Text file</a></li>
                    <li><a href="#" id="btn-download-octgn">Octgn file</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle " data-toggle="dropdown">
                    <span class="fa fa-clipboard"></span> Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btn-export-bbcode">bbCode</a></li>
                    <li><a href="#" id="btn-export-markdown">Markdown (Reddit)</a></li>
                    <li><a href="#" id="btn-export-plaintext">plain text</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>