<!-- Fellowships Table -->
<table class="table table-condensed" id="table-fellowships">
    <thead>
    <tr>
        <th colspan="2"><span class="fa fa-users"></span> Fellowships using this decklist</th>
    </tr>
    </thead>
    <tbody>
    {% set fellowships = decklist.allFellowships %}

    {% if fellowships | length %}
        {% for fellowship in fellowships %}
            {{ macros.fellowship_deck_table_row(fellowship.fellowship) }}
        {% endfor %}
    {% else %}
        <tr>
            <td>None.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
