<ol>
  {% for cycle in data %}
    <li>
      <a href="{{ cycle.url }}">{{ cycle.label }}</a>

      {% if (cycle.packs|length > 1) or ((cycle.packs|length == 1) and (cycle.packs[0].label != cycle.label)) %}
        <ol>
          {% for pack in cycle.packs %}
            {% if pack.total > 0 %}
              <li>
                <a href="{{ pack.url }}">{{ pack.label }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}
    </li>
  {% endfor %}
</ol>
