{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="main white container">
        <div class="row">
            <div class="col-md-12">
                <h1>The Gracious Patrons</h1>

                <p class="lead">RingsDB wouldn't be the same without them. Many, many thanks.</p>

		<p>You can become a patron <a href="https://patreon.com/Seastan" target="_blank">here</a>.</p>

                <ul>
                    {% for patron in patrons %}
                        <li>
                            <a href="{{ path('user_profile_public', { user_id: patron.id, user_name: patron.username | e('url')}) }}" class="username fg-{{ patron.color }}">{{ patron.username }}</a>
                            <span class="fa fa-gift patron" title="RingsDB Patron"></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
